@charset "utf-8";

#search_menu {
		display: block;
		font-family:"Times New Roman";
		font-weight:bold;
		font-size: 14px;
		text-align: left;
		width: 100%;
		height: 110px;
		background-color: #BFE9FF;
		position:fixed;
	}
	
	ul { 
		margin: 0px 0px;
	}
	
	li.sublist, li.menu, li.menu.backg{ /* all list items */
		display: inline; 
		position: relative; 
 		padding: 0;
		margin:7px;
		color: #2E3E4D;
		background-color: #BFE9FF;
		}
	
	

	 

	ul ul { /* lists within lists... */
		position: absolute; 
		left: 0; /* align them to the left of the parent list item */
		top: 100%; 
		display: none;
		padding: 0;
		margin:0;
		width: 8em;
	}
	
	 li.menu.backg:hover ul{ /* when list items are hovered over, do this to lists contained within them... */
		display: block; 
		background-color: #BFE9FF;
		position: absolute;
		z-index: 2;
	}
	
	 li.menu:hover ul, li.sublogin:hover ul{ /* when list items are hovered over, do this to lists contained within them... */
		display: block; 
		background-color: #BFE9FF;
		padding-left: 5px;
	}
	
	
	
	
	a.toplist, a.sublist {
	    text-decoration: none;
		color: #2E3E4D;
		background-color: #BFE9FF;
	}
	
	.sublist {
			  
              font-family:"Times New Roman";
			  font-weight:bold;
		      font-size: 14px;
			  text-align: center;
			  background-color: #BFE9FF;
            }
	
			
	.menu {
	        margin: 0 0 0 0;
			background-color: #BFE9FF;
		
			}	
    
    
			 
    .login {
              position: absolute;
			  top: 0px;
			  right: 2px;
			  color: #2E3E4D;
           }	
    ul.search { /*search menu list*/
              position: absolute;
			  right: 30px;
			  top: 60px;
             }	
			 
	.sublogin{
			
			font-family:"Times New Roman";
			font-size: 14px;
			text-align: left;
			background-color: #BFE9FF;
			list-style-type: none;
	
			}
			
	#search_form  /*input form gia genikh anazhthsh*/
	{
	    width:95px;
		height:25px;
	}
	
	
	#rssi /* rss icon */
	{
	  width: 25px;
	  height: 30px;
	}
	
	#input_form /*input form gia dates, user login*/
	{
	display: inline; 
	height: 25px;
	width:100px;
	}