@charset "utf-8";
div.content {
	float:left;
	margin-right:10px;
	margin-left:10px;
	padding-top:0px;
	width:250px; 
	height:260px;
	padding-right:10px;
	padding-left:10px;
}

 div.list-all {
	padding-right:0px;
	padding-left:70px;
    width: 95%;
}

div.perigrafh{  
    visibility: hidden;
	position:absolute;
	z-index:1;
	background-attachment: fixed;
	width:230px; 
	height:160px;
    overflow: hidden;
  }
  
  div.perigrafh > header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
  background: inherit;
  background-attachment: fixed;
  overflow: hidden;
}
div.perigrafh > header::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 200%;
  height: 200%;
  background: inherit;
  background-attachment: fixed;
  filter: blur(4px);
}
div.perigrafh > header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25)
}
div.perigrafh > header > h1 {
	font-size:120%;
  margin: 0;
  text-align:initial;
  color: white;
  position: relative;
  z-index: 1;
}


* {
  box-sizing: border-box;
}


.upotitlos{

	padding-left:0px;
	font-family:Roboto, sans-serif;
	font-size:13px;
	color:#2E3E4D;
	}




 #link{
	text-decoration: none; 
	color: #2E3E4D;
	font-size:15px;
	padding-top:100px;
	padding-bottom:0px;
 }
 
.link:hover {
	
	color:#2E3E4D;
 }
 
 
 .image_size{
 
	width:230px; 
	height:160px;
 
 
 }